@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

:root {
    /* MAIN */
    --base-font: 'Roboto', sans-serif;
    --base-font-size: 2em;

    /* NAVBAR */
    --navbar-height: 56px;
    --navbar-border-color: hsl(0, 0%, 93.3%);

    /* UPLOAD BUTTON */
    --upload-btn-border-color: hsl(0, 0%, 93.3%);
    --upload-btn-hover-color: #ff3333;

    /* LINK */
    --link-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link,
.link:active,
.link:focus,
.link:visited {
    color: var(--link-color);
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: auto;
}

html {
    font-family: var(--base-font);
}

.navbar {
    padding: 0 20px;
    min-height: var(--navbar-height);
    border-bottom: 1px solid var(--navbar-border-color);
    font-weight: 300;
    font-size: var(--base-font-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: inline-block;
}

.upload__btn {
    display: inline-block;
    float: right;
    line-height: 37px;
    border: 1px solid var(--upload-btn-border-color);
    width: 37px;
    text-align: center;
    border-radius: 100%;
}

.upload__btn__title:hover {
    color: var(--upload-btn-hover-color);
}
